body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: yellow;
        }


        h1 {
      font-size: 24px;
      margin-top: 120px;
      
    }

    video {
      width: 420px;
      height: 450px;
display:block;
    }

    .options {
      margin-top: 10px;
    }

        select {
            padding: 10px;
            font-size: 16px;
            cursor: pointer;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
        }

        .telegram-link {
            margin-top: 20px;
        }

        .telegram-link a {
            display: inline-block;
            background-color: #0088cc;
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
        }

        .live-viewers {
            margin-top: 20px;
            font-size: 18px;
            color: #444;
        }
video{
width:420px;
height:450px
}

    